{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Demande de réinitialisation du mot de passe{% endblock %}

{% block description %}
    Demandez la réinitialisation de votre mot de passe en toute sécurité. Entrez votre adresse e-mail pour recevoir un lien vous permettant de définir un nouveau mot de passe.
{% endblock %}

{% block keywords %}
    réinitialisation mot de passe, mot de passe oublié, récupération mot de passe, sécurité compte, demande réinitialisation, accès compte
{% endblock %}

{% block main %}

    <div class="container mt-5">

        <h1 class="text-center display-5 my-3">Réinitialisation du mot de passe</h1>
        
        <div class="row">
            <div class="col-md-10 col-lg-4 mx-auto">

                {% for flash_error in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_start(requestForm) }}
                    <div class="mb-3">
                        <label for="reset_password_request_form_email">Votre email</label>
                        {{ form_widget(requestForm.email, {'attr': {'class':'form-control', 'autofocus':'autofocus'}}) }}
                        <small>
                            Entrez votre email, et nous vous enverrons le lien de réinitialisation du mot de passe.
                        </small>
                    </div>
                    <div>
                        <button formnovalidate class="btn btn-primary w-100 shadow">Envoyer la demande</button>
                    </div>
                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
